.container{
    margin-bottom: 100px;
}
.buy-now-button{
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
}
.carousel-indicators li{
    background-color: coral;
    border-radius: 15px;
    width: 15px;
    height: 5px;
    border: none;
    transition:all 2s. ease-in-out;
}
.card{
    border:none;
    box-shadow: 5px 5px 10px lightgray;
    text-align: center;
    border-radius: 10px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.categories-header{
    text-align: center;
    margin-bottom: 20px;
}
.cat-under{
    width: 100px;
    height: 8px;
    background-color: orange;
    border-radius: 5px;
}
